<p>
   Hi <%= @user.name %>,
</p>
<p>
   Welcome on Squareteam !
</p>
<p>
   Squareteam allow you to manage your projects and team working with ease.
</p>
<p>
   You can now <a href="">create a project</a> or <a href="">import an existent one from Github</a>
</p>
<p>
   For a complete tutorial, please follow this <a href="">link</a>
</p>
<br>
<p>
   - Squareteam team
</p>
<hr>
<p>
   You can send us feedback at <a href="mailto:feedback@squareteam.io">feedback@squareteam.io</a>
</p>