<p>
   Hi <%= @user.name %>,
</p>
<p>
   Please use <a href="<%= @change_password_link %>">this link</a> to change your password. <br>
</p>
<br>
<p>
   - Squareteam team
</p>
<hr>
<p style="font-size:12px;">
   PS :
   <em>
      If you didn't request a password change, please ignore this message.
   </em>
</p>